<header class="site-header">
	<nav class="header-nav clearfix">
		<a class="nav-title" href="/">
			<img class="logo" src="/../img/logo.png">
			<h1 class="header-title">Monash Jobs</h1>
		</a>
		
		<a class="nav-item" href="/create">Post a job</a>
	</nav>

</header>