<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>
			TREND.IN
		</title>

		{{> head-global}}
		<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/lightgrid.css">
		<style>
			body {
				background-color: rgba(233, 234, 234, 0.21);
				color:#757575;
			}
			
			h1 {
				text-shadow: 0 1px 0 rgba(255,255,255,1);
			}
		</style>

		<!--<script src="/js/jquery-2.1.1.min.js"></script>
		<script src="/js/handlebars-v2.0.0.js"></script>
    <script src="/js/moment.js"></script>
		<script src="/js/utils.js"></script>
		<script src="/js/index.js"></script>-->
	</head>

	<body>

		<!-- Header -->

		<!-- Main -->
		<section class="home site-main">
			<div class="intro center">
				<img src="img/logo.png" width="512px">
				<h4>
					Style it. Make it. Trend it.
				</h4>
			</div>
			
			<div class="info center">
				<h3>Here's how it works</h3>
				<p>
					Type http://trendin-mecofficalsite.rhcloud.com before any imgur link and it will take you to the app where you'll be able to tag items.
					<br>
					Here are some sample links to get you started:
					<nav class="link-list">
						<a class="preview-link" href="http://trendin-mecofficalsite.rhcloud.com/i.imgur.com/XItYsao.jpg" target="_blank">Men's Fashion advice</a>
						<a class="preview-link" href="http://trendin-mecofficalsite.rhcloud.com/i.imgur.com/68SDoAv.jpg" target="_blank">Cheap dive watches under $250</a>
					</nav>
				</p>
			</div>
			
			<div class="brand-container row">
				<div class="col-4">
					<img src="img/brand1.jpg">
				</div>
				<div class="col-7 offset-1 last">
					<h2 class="page-title">
						Extremely simple to use
					</h2>
					<p>
						From the ground up, Trend.In was created with simplicity in mind.
						<br>Just paste our url in front of any imgur url and you can start tagging!
					</p>
				</div>
			</div>
			
			<div class="brand-container odd row">
				<div class="col-7">
					<h2 class="page-title">
						Pretty darn useful
					</h2>
					<p>
						Ever wondered where to get the suit Harvey's wearing? Simply share the photo through this app and your friends can help you find it.
					</p>
				</div>
				<div class="col-4 offset-1 last">
					<img src="img/brand2.jpg">
				</div>
			</div>
			
			<div class="brand-container row">
				<div class="col-4">
					<img src="img/brand3.jpg">
				</div>
				<div class="col-7 offset-1 last">
					<h2 class="page-title">
						Pretty sick
					</h2>
					<p>
						Simple because it was designed and developed under 24 hours at Unihack 2015 by three Monash uni students.
					</p>
				</div>
			</div>
		</section>
		
		<footer class="site-footer">
			<span class="special">SA</span> - 
			<span class="special">MR</span> - 
			<span class="special">SH</span>
			<br>
			<span class="small">16/8/2015</span>
		</footer>
{{> footer-global}}
	</body>
</html>
